@font-face {
  font-family: 'helvetica-light';
  src: url('../font/HelveticaNeue-Light.otf') 
}

@font-face {
	font-family: 'helvetica-bold';
	src: url('../font/HelveticaNeue-Medium.otf');
}

html
{
	background-color: black;
	color: white;
}

h1
{
	color: white;
	font-size: 72px;
	font-family: "helvetica-light", serif;
	font-weight: 100;
}

h2
{
	color: white;
	font-size: 34px;
	font-family: "helvetica-bold", serif;

}

ul,p
{
	font-family: "helvetica-light", serif;
	font-size: 20px;
}