@font-face {
  font-family: 'helvetica-light';
  src: url('../font/HelveticaNeue-Light.otf') 
}

@font-face {
	font-family: 'helvetica-bold';
	src: url('../font/HelveticaNeue-Medium.otf');
}
body
{
	background-color: black;
	color: white;
}
html
{
	background-color: black;
	color: white;

	margin: 30px 20px 30px 20px;
	padding: 0px;

	width: 1260px;
	height: 770px;
}

h1
{
	color: white;
	font-size: 72px;
	font-family: "helvetica-light", serif;
	font-weight: 100;
}

h2
{
	color: white;
	font-size: 72px;
	font-family: "helvetica-bold", serif;

}

ul,p
{
	font-family: "helvetica-light", serif;
	font-size: 20px;
}

#location
{
	font-family: "helvetica-light", serif;
	color: white;
	font-size: 43px;
}

.lfnyt
{
	font-family: "helvetica-light", serif;
	color: white;
	font-size: 43px;

	padding-bottom: 10px;

	text-align: center;
}

#time
{
	font-family: "helvetica-bold", sans-serif;
	color: white;
	font-size: 83px;
	margin-top: 3px;
}

#main-weather-wrapper
{
	width: 354px;
	height: 265px;
	margin-top: 25px;

	display: block;
	/*background-color: #F3C662;*/
	transition: all 1s ease;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}

#day-1
{
	width: 354px;
	height: 65px;

	display: block;
	/*background-color: #E7BA56;*/
	transition: all 1s ease;
}

#day-2
{
	width: 354px;
	height: 65px;

	display: block;
	/*background-color: #D7AA45;*/
	transition: all 1s ease;

}

#day-3
{
	width: 354px;
	height: 65px;

	display: block;
	/*background-color: #C89C39;*/
	transition: all 1s ease;

}

#day-4
{
	width: 354px;
	height: 65px;

	display: block;
	/*background-color: #B18728;*/
	transition: all 1s ease;
}

.date-wrapper
{
	width: 100%;
	line-height: 65px;
	padding: 0px;
	margin: 0px;
}

.date-info
{
	display: inline-block;
	width: 115px;
	text-align: center;
	height: 100%;
	font-family: "helvetica-light", sans-serif;
	font-size: 20px;
}

.weather-big
{
	font-family: "helvetica-bold", sans-serif;
	text-align: center;
	font-size: 93px;
	padding-top: 45px;
}

.message
{
	font-family: "helvetica-light", sans-serif;
	text-align: center;
	/*padding-top: 20px;*/
	font-size: 32px;
}

.headline-container
{
	background-color: "green";
	padding: 10px 20px 10px 20px;
	margin: 0px;

	text-align: justify;
}

.headline
{
	font-family: "helvetica-bold", sans-serif;
	font-size: 18px;
	color: white;

	margin-top: 10px;

	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;

}

.abstract
{
	display: inline;
	font-family: "helvetica-light", sans-serif;
	font-size: 16px;
	height: 10px;

	text-overflow: ellipsis;
}
